# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
dist/
*.egg-info/

# Environments
.env
.venv

# pyenv
.python-version

# MacOS
.DS_Store

# Visual Studio Code
.vscode
